.Carousel {
  width: 100%;
  height: 66.6vh;
  margin-bottom: 2.5rem;
}
.img-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.img-container > img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.fade-in {
  animation: fadein 1s ease forwards;
}
.fade-out {
  animation: fadein 1s ease forwards reverse;
}

/* create animation called fadein */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.popup-wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #0000008d;
  top: 0;
  left: 0;
  z-index: 999;
}

.popup-wrapper div div {
  width: 100%;
}
/* 
.responsive-mt {
  margin-top: 0.9rem;
}

@media (max-width: 991px) {
  .responsive-mt {
    margin-top: 0.9rem;
  }
  .responsive-nav-flex {
    flex-direction: column;
  }
} */

.red-asterik:after {
  content: "*";
  color: red;
}

/* li :after {
  content: counter-increment;
} */
#editImagesPopupImgDisplay {
  width: 10rem;
  height: 10rem;
  margin: auto;
}

li > div > div > img {
  margin-left: 2rem;
  margin-top: 0rem;
  margin-bottom: 1rem;
  width: 8rem;
  height: 5rem;
}
/* @media (max-width: 991px) {
  #header-list {
    display: none;
  }
} */
.header-list-details {
  display: flex;
  border-bottom: 1px solid #000;
}

.popup-div {
  width: 30%;
  height: 100%;
  position: absolute;
  top: 0px;
}
@media (max-width: 992px) {
  .header-list-details {
    display: none;
  }
  .popup-div {
    width: 70%;
    height: 100%;
    position: absolute;
    top: 0px;
  }
}
.imgRorAboutUs1 {
  width: 20em;
  height: 20em;
  margin: 5em;
}

.imgRorAboutUs2 {
  width: 30em;
  height: 15em;
  margin: 5em;
}

.imgRorAboutUs3 {
  width: 60em;
  height: 15em;
  margin: 5em;
}
.cartImg {
  position: absolute;
  left: 90%;
}
/* #editImagesPopup {
  width: 100vw;
  height: 100vh;
} */
.ing-details {
  width: 35%;
  height: 50%;
  margin: auto;
}
.footer-marg{
margin-top:10rem;

}