* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.red-asterik:after {
  content: "*";
  color: red;
}
#editImagesPopupImgDisplay {
  width: 10rem;
  height: 10rem;
  margin: auto;
}
li > div > div > img {
  margin-left: 2rem;
  margin-top: 0rem;
  margin-bottom: 1rem;
  width: 8rem;
  height: 5rem;
}
.header-list-details {
  display: flex;
  border-bottom: 1px solid #000;
}
@media (max-width: 992px) 
{
    .header-list-details {
    display: none;
  }}
.imgRorAboutUs1 {
  width: 20em;
  height: 20em;
  margin: 5em;
}
.imgRorAboutUs2 {
  width: 30em;
  height: 15em;
  margin: 5em;
}
.imgRorAboutUs3 {
  width: 60em;
  height: 15em;
  margin: 5em;
}
.cartImg {
  position: absolute;
  left: 90%;
}
.ing-details {
  width: 35%;
  height: 50%;
  margin: auto;
}
.footer-marg{
margin-top:10rem;
}